@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}


:root{
  --primary: #0EA5A4;
  --accent:  #0F1724;
  --bg:      #F7F9FA;
  --text:    #0B1220;
  --muted:   #64748B;
}

/* optional helpers */
.text-muted { color: var(--muted); }
.text-primary { color: var(--primary); }
.bg-accent { background-color: var(--accent); }
.bg-primary { background-color: var(--primary); }

/* ensure Poppins is used globally (fallbacks included) */
html, body, #root {
  font-family: 'Poppins', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background-color: var(--bg);
  color: var(--text);
}
